html,body{
	height:99.1%;
	width: 99.1%;
}

body{
    padding: 0 4% 4% 4%
}
.title{
	text-align: center;
	font-size: 18px;
	margin: 11px 0px 11px 0px;
}
.darkblue{
	height: 100%;
	width:100%;
	background-color: #042F5F;
	border:4px solid #042F5F;
	padding: 4%;
}
.white{
	height: 100%;
	width:100%;
	background-color:white;
	border: 4px solid #2267B5;
	padding: 4% 4.5% 4% 3%;
}
.pirveli{
	width: 100%;
	height:35%;
	background-color: #304A67;
	border: 4px solid #2267B5;
	padding: 2.3% 2.1% 2.3% 2%;
	margin-bottom: 40px;
}

.cube1: last-child {
	margin-right: 40px;
}
.cube1: first-child {
	margin-left: 33px;
}

.cube1{
	height: 100%;
	width: 14%;
	background-color: #75B3F9;
	border: 15px solid white;
	padding-top:4%;
	display: inline-block;
	margin-right: 76px;
	left:33px; 
}

.littletext{
	text-align: center;
	font-size:14px;
	color:white;
	margin-bottom: 10px;
}
.meoreseqcia{
	width: 100%;
	height:53%;
    background-color: #304A67;
	border: 4px solid #2267B5;
	padding-top: 7%;
}
.bigtext{
	text-align: center;
	font-size: 52.1px;
	color: white;

}
